<link rel="stylesheet" href="{{ asset('css/acceuil_css/acceuil_style.css') }}">
{% include'acceuil/header_accueil.html.twig' %}
<main class="main_acceuil">
    <img src="https://cdn.unitycms.io/image/ocroped/1200,1200,1000,1000,0,0/63PVYScrf8U/DNXhVEqa4XaBpl7Piq5kOj.jpg" alt="">
</main>
{% include 'acceuil/footer_acceuil.html.twig' %}

