<link rel="stylesheet" href="{{ asset('css/Footer_header.style.css') }}">
<footer class="footer">
    <p class="p8">Mention Légales</p>
    <p class="p8">Politique de Confidentialité</p>
    <p class="p8">Préférences En Matière de Cookies</p>
    <p class="p8">Recrutement</p>
</footer>
</body>
</html>