<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('css/header_article.style.css') }}">
</head>
<body>
<header class="header">
    <nav>
        <ul class="ul-header">
            <li><a class="a2" href="{{ path('liste_articles') }}">Articles</a></li>
            <li><a class="a2" href="https://i2.wp.com/www.immobilier-meuble.fr/wp-content/uploads/2018/07/Arnold_Schwarzenegger_1974.jpg?fit=362%2C400&ssl=1">Arnold</a></li>
            <li><a class="a2" href="https://static1.purepeople.com/articles/3/34/34/3/@/238497-michael-jackson-billie-jean-624x600-2.jpg">King of PoP</a></li>
        </ul>
    </nav>
</header>